[user]
          name = Emil Henriksson
                  email = emil.henriksson@ericsson.com
[core]
          autocrlf = input
                  safecrlf = true
[alias]
    co = checkout
      ci = commit
        st = status
          br = branch
            hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
              type = cat-file -t
                dump = cat-file -p
                        wdiff = diff --color-words
[http]
          sslVerify = false
[color]
    ui = auto
